@font-face {
  font-family: dharmaRegular;
  src: url(/fonts/DharmaGothicM-Regular.woff2);
}

body {
  padding: 21px 70px;
}

p {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

h1 {
  font-family: dharmaRegular, Arial, sans-serif;
  font-size: 110px;
  font-weight: bold;
  margin: 0;
}