.layoutPrivateWrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0 20px 0 20px;

  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.97) 10%,
      rgba(255, 255, 255, 0.95) 50%,
      rgba(255, 255, 255, 0.97) 60%,
      rgba(255, 255, 255, 1) 70%
    ),
    url('../assets/bg-earth.png') no-repeat center 70px fixed;
  background-size: 150%;

  hr {
    background-color: #000;
    height: 3px;
    width: 150%;
    margin: 64px 0 0 -25%;
  }

  @media (min-width: 880px) {
    padding: 100px 70px 0 70px;
  }
}
