@use '../../partials/colors';

.adminUsersPage {
  .selectLabel {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
  }

  .countrySelect {
    border: 2px solid black;
    font-size: 18px;
    line-height: 18px;
    padding: 5px;
  }

  & table td {
    border-right: 2px solid colors.$color-grey;
    padding: 4px 8px;
  }

  & table {
    border: 1px solid colors.$color-grey;
    margin-top: 24px;
  }

  & table th {
    border: 2px solid colors.$color-grey;
    padding-left: 8px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
    font-weight: 700;
  }

  &__dialogContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__dialogActions {
    display: flex;
    justify-content: space-between;
  }

  &__validationError {
    color: red;
    font-weight: bold;
    margin-top: 1rem;
  }
}
