@use "../../partials/colors";

.landingPage {
  display: flex;
  flex-direction: column;
  gap: 64px;
  position: relative;

  &__clickUp {
    position: fixed;
    bottom: 100px;
    right: 30px;
    background: colors.$color-blue;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    display: flex;
    z-index: 2;

    svg {
      height: 40px;
      width: 40px;
    }
  }

  .wormhole {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 500px;
    opacity: 0.1;

    @media (min-width: 880px) {
      display: initial;
    }
  }

  p {
    max-width: 800px;
  }

  &__hero {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;

    img {
      width: 100%;

      @media (min-width: 1100px) {
        width: 80%;
      }
    }
  }

  &__whatsInside {
    img {
      width: 100%;


      @media (min-width: 880px) {
        margin-left: 70px;
        max-width: 750px;
      }

      @media (min-width: 1440px) {
        width: initial;
        margin-left: 170px;
      }
    }
  }

  &__whoFor {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;

    &Container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      width: 100%;
      padding-bottom: 40px;

      @media (min-width: 880px) {
        align-items: flex-start;
        flex-direction: row;
        overflow: auto;
      }
    }
  }

  &__whatYouGet {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;

    &Container {
      align-items: stretch;
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;
      padding-bottom: 40px;

      @media (min-width: 880px) {
        align-items: flex-start;
        flex-direction: row;
        overflow: auto;
      }
    }
  }

  &__pricing {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;

    &Container {
      display: flex;
      flex-direction: column;
      gap: 50px;
      width: 100%;
      overflow: auto;
      padding-bottom: 40px;

      @media (min-width: 880px) {
        overflow: auto;
      }
    }

    button {
      align-self: center;
    }

    table {
      //border-collapse: collapse;
      border-spacing: 0;

      .tableLink {
        color: black;
      }

      table-layout: fixed;
      colgroup col:first-child {
        width: auto;
      }
      colgroup col:nth-child(2),
      colgroup col:nth-child(3),
      colgroup col:nth-child(4) {
        width: 250px;
      }

      @media (min-width: 1450px) {
        colgroup col:nth-child(2),
        colgroup col:nth-child(3),
        colgroup col:nth-child(4) {
          width: 25%;
        }
      }
    }

    th {
      padding: 0 36px 40px 36px;

      @media (min-width: 1450px) {
        text-wrap: nowrap;
      }
    }

    td {

      padding: 8px;

      @media (min-width: 880px) {
        padding: 24px 8px 24px 0;
      }
    }

    .center {
      text-align: center;
    }

    .sticky {
      background: white;
      position: sticky;
      left: 0;
      z-index: 1;
    }

    .borderLeft {
        border-left: 3px solid black;
    }

    .borderRight {
        border-right: 3px solid black;
    }

    .borderBottom {
        border-bottom: 3px solid black;
    }

    .buttonCell {
      text-align: center;
      vertical-align: middle;
      padding: 10px;
    }

    .blackRow {
      background: black;
      color: white;
      > * {
        font-family: dharmaRegular, Arial, sans-serif;
        font-size: 40px;
        text-align: center;
      }
    }
  }

  &__faq {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;

    &Container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      padding-bottom: 40px;
    }
  }
}