.landingPage {
  display: flex;
    flex-direction: column;
    gap: 64px;

  p {
    max-width: 800px;
  }

  &__hero {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;

    img {
      width: 100%;
    }
  }
}