@use "../../partials/colors";

.button {
  border: 0;
  font-size: 18px;
  padding: 0;

  a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 24px;
  }

  &Primary {
    background: colors.$color-orange;
    border: 1px solid colors.$color-orange;
    a {
      color: colors.$color-white;
    }

    &:hover {
      background: colors.$color-white;
      a {
        color: colors.$color-orange;
      }
    }
  }

  &Secondary {
    background: colors.$color-blue;
    border: 1px solid colors.$color-blue;
    a {
      color: colors.$color-white;
    }

    &:hover {
      background: colors.$color-white;
      a {
        color: colors.$color-blue;
      }
    }
  }
}

.languageButton {
  border: 1px solid rgba(0, 0, 0, 0.57);
  cursor: pointer;
  padding: 0;
  height: 30px; // TODO: K: nechápu, proč je tohle tady nutný, zeptat se Barči

  img {
    width: 40px;
  }
}