.orderItem {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;

  div {
    text-wrap: nowrap;
  }

  &__item {
    display: flex;
    gap: 24px;
  }

  &--total {
    background: green;
    color: white;
    font-weight: bold;
    text-transform: uppercase;

    img {
      filter: invert(1);
    }
  }
}