@use '../../partials/colors';

.toolDetail {
  align-items: center;
  display: flex;
  flex-direction: column;

  & > main > * {
    box-sizing: border-box;
    padding: 24px;

    @media (min-width: 880px) {
      padding: 32px 70px;
    }
  }

  .header {
    box-sizing: border-box;
    padding: 21px 20px 0 20px;

    @media (min-width: 880px) {
      padding: 21px 70px 48px 70px;
    }
  }
  &__logoWrapper {
    width: 250px;
    height: 80px;
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
      width: 330px;
      height: 180px;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__head {
    align-items: center;
    gap: 100px;
    justify-content: space-between;
    @media (min-width: 768px) {
      display: flex;
    }

    &Text {
      max-width: 500px;

      p {
        font-size: 22px;
        line-height: 30px;
      }
    }
  }

  &__featureTags {
    background: colors.$color-blue;
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 24px;
    gap: 16px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    @media (min-width: 768px) {
      gap: 24px;
      flex-wrap: wrap;
    }

    &Tag {
      align-items: center;
      color: colors.$color-white;
      display: flex;
      flex-direction: column;
      flex-basis: 20%;
      gap: 16px;
      text-transform: uppercase;
      text-align: center;
      font-size: 0.8rem;
      @media (min-width: 768px) {
        font-size: 1rem;
      }

      img {
        height: 30px;
        filter: invert(1);
        @media (min-width: 768px) {
          height: 40px;
        }
      }
    }
  }

  &__features {
    ul {
      font-family: Arial, sans-serif;
      font-size: 22px;
      line-height: 30px;
    }
  }

  &__toolDetails {
    background: #f7c799;
    font-family: Arial, sans-serif;

    h4 {
      text-wrap: nowrap;
    }

    &Container {
      gap: 24px;
      font-size: 18px;
      @media (min-width: 768px) {
        display: flex;
      }
    }

    &Left {
      flex-basis: 30%;
    }

    &Center {
      flex-basis: 30%;
    }

    &Right {
      flex-basis: 30%;

      &TagContainer {
        display: flex;
        gap: 16px;

        &Tag {
          display: flex;
          flex-direction: column;

          &Container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 12px;

            &Tag {
              display: flex;
              font-family: Arial, sans-serif;
              font-size: 16px;
              flex-direction: column;
              gap: 16px;
              text-transform: uppercase;
              text-align: center;
              flex: 0;
              flex-basis: 120px;

              img {
                height: 40px;
              }
            }
          }
        }
      }

      &Contact {
        align-items: center;
        display: flex;
        gap: 4px;

        img {
          width: 40px;
        }
      }
    }
  }

  &__caseStudies {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &Container {
      gap: 24px;
      @media (min-width: 768px) {
        display: flex;
      }

      &__imgWrapper {
        height: 200px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media (min-width: 768px) {
          flex-basis: 30%;
          height: auto;
        }
      }

      &Right {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex-basis: 70%;

        ul {
          background: colors.$color-blue;
          display: flex;
          list-style: none;
          justify-content: space-evenly;
          padding: 24px;
          margin: 0;

          li {
            color: colors.$color-white;
            font-family: Arial, sans-serif;
            font-weight: bold;
          }
        }
      }
    }
  }

  &__feed {
    background: #e6e6e6;
    a {
      color: colors.$color-blue;

      &:hover {
        font-weight: bold;
      }
    }

    &Container {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  footer {
    box-sizing: border-box;
    padding: 21px 20px 21px 20px;
    width: 100%;

    @media (min-width: 880px) {
      padding: 60px 70px 60px 70px;
    }
  }
}
