.adminHeader {
  align-items: center;
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: space-between;
  margin-bottom: 32px;
  background: black;
  color: white;
  padding: 24px;

  a {
    color: white;
    font-size: 28px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__navigation {
    display: flex;
    gap: 32px;
  }

  &__buttons {
    align-items: center;
    display: flex;
    gap: 32px;
  }
}
