.tag {
  align-content: center;
  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 1rem;
  padding: 5px 10px;

  &--selected {
    background-color: green;
    color: white;
  }

  &__createTagInput{
    font-family: dharmaRegular, Arial, sans-serif;
    font-size: 32px;
    padding: 5px 10px;
  }
}