@use '../../partials/colors';

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  nav {
    align-items: center;
    display: none;
    background: white;
    position: fixed;
    bottom: 0;
    right: 0;
    flex-direction: column;
    padding: 40px 50px 120px 40px;
    border-radius: 10px 0 0 0;
    text-wrap: nowrap;
    box-shadow: black 0 0 10px;
    z-index: 1;

    .account_button {
      margin-left: auto;

      a {
        color: colors.$color-white;
        font-family: Arial, sans-serif;
        font-size: 18px;
        text-wrap: nowrap;
      }
    }

    @media (min-width: 880px) {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      gap: 32px;
      height: 124px;
      box-shadow: none;
      width: 100%;
      background-color: white;
      border-bottom: 4px solid black;
      position: fixed;
      top: 0;
      z-index: 1000;
      padding: 20px 70px 0 70px;

      .account_button {
        margin-left: auto;

        a {
          color: colors.$color-white;
          font-family: Arial, sans-serif;
          font-size: 18px;
          text-wrap: nowrap;
        }
      }
    }

    a {
      text-decoration: none;
      color: colors.$color-black;
      font-family: dharmaRegular, Arial, sans-serif;
      font-size: 32px;
      text-wrap: nowrap;
    }
  }

  img {
    height: 90px;
  }

  &__hamburger {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: colors.$color-blue;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    display: none;
    z-index: 2;

    @media (max-width: 880px) {
      display: flex;
    }
  }
}
